.articles {
    background-color: $Very-Light-Gray;
    .articles-container {
        @include wide-container;
        text-align: center;
        padding: 5rem 0;
        .articles-list {
            margin: 2rem 0;
            li {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 37.5em) {
    .articles-container {
        text-align: initial !important;
        .articles-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            gap: 2rem;
            li {
                margin-bottom: 0 !important;
            }
        }
    }
}