.why-us {
    background-color: $Light-Grayish-Blue;
    .why-us-container {
        @include wide-container;
        text-align: center;
        padding: 4rem 0 3.25rem;
        .why-us-list {
            margin-top: 3.5rem;
            li {
                margin-bottom: 2rem;
                svg {
                    margin-bottom: 1.5rem;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 37.5em) {
    .why-us-container {
        text-align: initial !important;
        .why-us-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            gap: 2rem;
            li {
                margin-bottom: 0 !important;
            }
        }
    }
}

// @media screen and (min-width: 48em) {
//     .why-us-list {
//         grid-template-columns: repeat(3, 1fr) !important;
//     }
// }