.article-card {
    background-color: $White;
    text-align: initial;
    border-radius: .5rem;
    overflow: hidden;
    max-width: 35rem;
    height: 100%;
    .article-image {
        height: 12rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 2rem;
        span {
            font-size: 0.75rem;
        }
        h3 {
            font-size: 1rem;
            margin-top: .5rem;
            a {
                color: $Dark-Blue;
            }
        }
        p {
            font-size: 0.875rem;
            line-height: initial;
            margin: .5rem 0 0 0;
        }
    }
}