@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

html {
    font-size: 14.08px;
}
body {
    font-family: 'Public Sans', sans-serif;
}
p {
    line-height: 1.5;
    color: $Grayish-Blue;
    margin: 1rem 0;
}
span {
    color: $Grayish-Blue;
}
h1, h2, h3 {
    color: $Dark-Blue;
    line-height: 1.25;
}
h1 {
    font-size: 2.45rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
.nav-container a {
    color: $Dark-Blue;
    font-size: 1.25rem;
}
footer {
    .footer-grid__social a {
        color: $Light-Grayish-Blue;
        font-size: 1.5rem;
        &:hover {
            color: $Lime-Green;
        }
    }
    .footer-grid__nav a {
        color: $Light-Grayish-Blue;
        &:hover {
            color: $Lime-Green;
        }
    }
}

@media screen and (min-width: 64em) {
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 3.25rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .nav-container a {
        color: $Grayish-Blue;
        font-size: 1rem;
    }
}